body{
background-color:rgb(49, 233, 233);
font-family: Arial;
}
h1{
    font-family: Arial;
    font-size: 40px;

}
p{
    font-size: 28px;
    word-wrap: break-word;
    width: 1000px;
    display: inline-block;
    background-color: white;
    font-family: Arial;
}
head{
    display: inline-block;
    background-color: white;
}
h2{
    display: inline-block;
    font-size: 34px;
    background-color: white;
}
ul{
    font-size: 28px;
    display: inline-block;
    background-color: white;
}
[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 1px lightgreen;
}
.tab{
    cursor: pointer;
    padding: 10px;
}
.tab:hover{
    background-color: gray;
}
.tab.active{
    background-color: lightgray;
}