body{
background-color:rgb(49, 233, 233);
font-family: Arial;
}
p{
    background-color: white;
    font-family: Arial;
}
head{
    background-color: white;
}
h2{
    background-color: white;
}
ul{
    background-color: white;
}