body{
background-color:rgb(49, 233, 233);
font-family: Arial;
}
h1{
    display: inline-block;
    font-family: Arial;
    font-size: 28px;

}
textarea{
    width: 200px;
}
p{
    display: inline-block;
    background-color: white;
    font-family: Arial;
}
head{
    display: inline-block;
    background-color: white;
}
h2{
    display: inline-block;
    background-color: white;
}
ul{
    display: inline-block;
    background-color: white;
}
[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 1px lightgreen;
}
.tab{
    cursor: pointer;
    padding: 10px;
}
.tab:hover{
    background-color: gray;
}
.tab.active{
    background-color: lightgray;
}